Source: cozy
Section: unknown
Priority: optional
Maintainer: Nicolas Ledez <nicolas@cozycloud.cc>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://cozy.io/

Package: cozy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
	build-essential, curl, git, git-core, imagemagick, libssl-dev,
	libxml2-dev, libxslt1-dev, python-dev, python-pip, python-setuptools,
	python-software-properties, software-properties-common, sqlite3, sudo,
	nginx, postfix, pwgen, nodejs, npm, couchdb, supervisor
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
