Source: cozy
Section: cozy
Priority: optional
Maintainer: Cozy Debian Packaging <debian-packaging@cozycloud.cc>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://cozy.io/

Package: cozy
Architecture: all
Pre-Depends: ca-certificates, couchdb, supervisor, cozy-indexer
Recommends: nginx | apache2, postfix | exim4 | sendmail | mail-transport-agent
Depends: ${misc:Depends}, ucf,
	bash, build-essential, curl, git, git-core, imagemagick, libssl-dev,
	libxml2-dev, libxslt1-dev, python-dev, python-pip, python-setuptools,
	python-virtualenv, python-software-properties, software-properties-common,
	sqlite3, sudo, pwgen, nodejs, nodejs-legacy, npm, coffeescript
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
