Source: cozy
Section: cozy
Priority: optional
Maintainer: Cozy Debian Packaging <debian-packaging@cozycloud.cc>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://cozy.io/

Package: cozy
Architecture: all
Pre-Depends: cozy-standalone, cozy-app-self-hosting
Depends: ${misc:Depends}
Description: Cozy is an app-based personal cloud you host at home
 ${Description}

Package: cozy-depends
Architecture: all
Recommends: cozy-apt-node-list, nginx | apache2, postfix | exim4 | sendmail | mail-transport-agent
Depends: ${misc:Depends},
	ucf, bash, build-essential, curl, git, git-core, imagemagick,
	libssl-dev, libxml2-dev, libxslt1-dev, python-dev, python-pip,
	python-setuptools, python-virtualenv, python-software-properties,
	software-properties-common, sqlite3, sudo, pwgen,
	coffeescript, ca-certificates, couchdb,
	supervisor, python-cozy-management, apt-transport-https,
	nodejs (>= 0.10.20)
Conflicts: node-gyp
Description: Cozy is an app-based personal cloud you host at home
 ${Description}
 .
 This package installs all previous dependencies.

Package: cozy-standalone
Architecture: all
Pre-Depends: cozy-depends
Recommends: cozy-nginx | cozy-apache2
Depends: ${misc:Depends}
Description: Cozy is an app-based personal cloud you host at home
 ${Description}
 .
 This package installs Cozy.

Package: cozy-nginx
Architecture: all
Depends: ${misc:Depends}, cozy-standalone, nginx | nginx-extras | nginx-full | nginx-light | nginx-naxsi | nginx-extras-dbg | nginx-full-dbg | nginx-light-dbg | nginx-naxsi-dbg
Description: Cozy is an app-based personal cloud you host at home
 ${Description}
 .
 This package installs Cozy+Nginx.

Package: cozy-apache2
Architecture: all
Depends: ${misc:Depends}, cozy-standalone, apache2
Description: Cozy is an app-based personal cloud you host at home
 ${Description}
 .
 This package installs Cozy+Apache. But prefer Nginx if possible.

Package: cozy-app-self-hosting
Architecture: all
Depends: ${misc:Depends}, nodejs (>= 4.0.0)
Pre-Depends: cozy-standalone
Description: Cozy is an app-based personal cloud you host at home
 ${Description}
 .
 This package installs the self-hosting app with all scripts run as root.

Package: cozy-apt-key
Architecture: all
Depends: ${misc:Depends}, apt
Description: Cozy is an app-based personal cloud you host at home
 ${Description}
 .
 This package helps you keep the GPG key update.

Package: cozy-apt-list
Architecture: all
Depends: ${misc:Depends}, lsb-release
Description: Cozy is an app-based personal cloud you host at home
 ${Description}
 .
 This package helps you keep the apt source list update.

Package: cozy-apt-node-list
Architecture: all
Depends: ${misc:Depends}, lsb-release, apt-transport-https
Description: Cozy is an app-based personal cloud you host at home
 ${Description}
 .
 This package helps you keep nodejs up to date.
