#!/bin/sh -e

# Use debconf.
. /usr/share/debconf/confmodule

case "$1" in
    configure|reconfigure)
	db_input high cozy/certificate || true
	db_go

	COZY_DOMAIN=
	while [ -z $COZY_DOMAIN ]; do
	    db_input high cozy/fqdn || true
	    db_go

	    db_get cozy/fqdn || true
	    COZY_DOMAIN=$RET
	done

	db_input high cozy/certificate_type || true
	db_go
    ;;
    *)
        echo "postinst called with unknown argument \`$1'" >&2
        exit 1
    ;;
esac

db_stop

exit 0
